.container {
  background-color: var(--bgSoft);
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 100px;
  padding: 24px 12px;
  border-radius: 5px;
}

.draganddrop {
  display: flex;
  grid-gap: 40px;
}

.ddZone {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  height: 100%;
}

.ddElement {
  font-size: 18px;
  background-color: var(--bg);
  border-radius: 5px;
  padding: 26px 20px;
}

.ddElement .body {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0px;
}
